In [ ]:
#Импортируем библиотеки
import pandas as pd
import numpy as np
import pysubgroup as ps
import warnings
warnings.filterwarnings('ignore')
#Подгружаем данные

#Приводим данные к нужному виду: каждая колонка делится на три по квантилям <0,33, 0,33<0,66, >0,66
work_data['numbasket0'] = data['numbasket0']
work_data['sum0'] = data['sum0']
work_data['avgcart'] = work_data['sum0'] / work_data['numbasket0']
work_data['avgcart<0.33q'] = 0
work_data['avgcart>0.66q'] = 0
work_data['0.33q<=avgcart<=0.66q'] = 0
for i in range(0,len(work_data)):
    if(work_data['avgcart'][i] < np.quantile(work_data.avgcart,0.33)):
        work_data['avgcart<0.33q'][i] = 1
    elif(work_data['avgcart'][i] >= np.quantile(work_data.avgcart,0.33) and work_data['avgcart'][i] <= np.quantile(work_data.avgcart,0.66)):
        work_data['0.33q<=avgcart<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['avgcart<0.33q'][i] == 0 and work_data['0.33q<=avgcart<=0.66q'][i] == 0):
        work_data['avgcart>0.66q'][i] = 1
work_data = work_data.drop(columns=['avgcart'])
work_data['treat1'] = 0
work_data['treat2'] = 0
for i in range(0,len(work_data)):
    if (work_data.text1[i] == 1):
        work_data['treat1'][i] = 1
for i in range(0,len(work_data)):        
    if(work_data.text2[i] == 1):
        work_data['treat2'][i] = 1
work_data = work_data.drop(columns=['text1','text2'])
work_data['outcome'] = False
for i in range(0,len(work_data)):
    if (work_data.numbasket_firsttwoweeks[i] > 0):
        work_data['outcome'][i] = True
work_data = work_data.drop(columns=['text1','text2','numbasket_firsttwoweeks','numbasket_secondtwoweeks','sum_firsttwoweeks'])
work_data['recency<0.33q'] = 0
work_data['recency>0.66q'] = 0
work_data['0.33q<=recency<=0.66q'] = 0
for i in range(0,len(work_data)):
    if(work_data['recency'][i] < np.quantile(work_data.recency,0.33)):
        work_data['recency<0.33q'][i] = 1
    elif(work_data['recency'][i] >= np.quantile(work_data.recency,0.33) and work_data['recency'][i] <= np.quantile(work_data.recency,0.66)):
        work_data['0.33q<=recency<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['recency<0.33q'][i] == 0 and work_data['0.33q<=recency<=0.66q'][i] == 0):
        work_data['recency>0.66q'][i] = 1
work_data = work_data.drop(columns=['recency'])
work_data['lifetime<0.33q'] = 0
work_data['lifetime>0.66q'] = 0
work_data['0.33q<=lifetime<=0.66q'] = 0
for i in range(0,len(work_data)):
    if(work_data['lifetime'][i] < np.quantile(work_data.lifetime,0.33)):
        work_data['lifetime<0.33q'][i] = 1
    elif(work_data['lifetime'][i] >= np.quantile(work_data.lifetime,0.33) and work_data['lifetime'][i] <= np.quantile(work_data.lifetime,0.66)):
        work_data['0.33q<=lifetime<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['lifetime<0.33q'][i] == 0 and work_data['0.33q<=lifetime<=0.66q'][i] == 0):
        work_data['lifetime>0.66q'][i] = 1
work_data = work_data.drop(columns=['lifetime'])
work_data['bigstoreshare<0.33q'] = 0
work_data['bigstoreshare>0.66q'] = 0
work_data['0.33q<=bigstoreshare<=0.66q'] = 0
for i in range(0,len(work_data)):
    if(work_data['bigstoreshare'][i] < np.quantile(work_data.bigstoreshare,0.33)):
        work_data['bigstoreshare<0.33q'][i] = 1
    elif(work_data['bigstoreshare'][i] >= np.quantile(work_data.bigstoreshare,0.33) and work_data['bigstoreshare'][i] <= np.quantile(work_data.bigstoreshare,0.66)):
        work_data['0.33q<=bigstoreshare<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['bigstoreshare<0.33q'][i] == 0 and work_data['0.33q<=bigstoreshare<=0.66q'][i] == 0):
        work_data['bigstoreshare>0.66q'][i] = 1
work_data = work_data.drop(columns=['bigstoreshare'])
work_data['sum0<0.33q'] = 0
work_data['sum0>0.66q'] = 0
work_data['0.33q<=sum0<=0.66q'] = 0
for i in range(0,len(work_data)):
    if(work_data['sum0'][i] < np.quantile(work_data.sum0,0.33)):
        work_data['sum0<0.33q'][i] = 1
    elif(work_data['sum0'][i] >= np.quantile(work_data.sum0,0.33) and work_data['sum0'][i] <= np.quantile(work_data.sum0,0.66)):
        work_data['0.33q<=sum0<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['sum0<0.33q'][i] == 0 and work_data['0.33q<=sum0<=0.66q'][i] == 0):
        work_data['sum0>0.66q'][i] = 1
work_data = work_data.drop(columns=['sum0'])
work_data = work_data.drop(columns=['numbasket0'])
work_data['treatment'] = work_data['treat']
final_data = pd.read_csv('final_data.csv')
prepared_data = final_data
prepared_data['y'] = 0
for i in range(0,len(prepared_data.outcome)):
    if(prepared_data.outcome[i] == True):
        prepared_data.y[i] = 1
    else:
        prepared_data.y[i] = 0
prepared_data['z'] = prepared_data['y']*prepared_data['treatment'] + (1-prepared_data['y'])*(1-prepared_data['treatment'])
#Определяем параметры для запуска алгоритма
target = ps.NominalTarget('z',True)
searchspace = ps.create_selectors(prepared_data, ignore=['z','treatment','y'])
task = ps.SubgroupDiscoveryTask (prepared_data, target, searchspace, 
            result_set_size=5, depth=4, qf=ps.ChiSquaredQF())
result = ps.SimpleDFS().execute(task)
#Смотрим результаты
for (q, sg) in result:
    print(str(q) + ":\t" + str(sg.subgroup_description))
#Строим логистическую регрессиию  сравниваем результаты
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(prepared_data.drop(columns=['z','y']),prepared_data.y)
model1.coef_[0]
prepared_data.drop(columns=['z','y']).columns
cols = prepared_data.columns
coefs = pd.DataFrame(list(zip(np.abs(model.coef_[0]),cols[0])),columns=['value','column'])
coefs.sort_values(by='value',ascending=False)

In [3]:
import pysubgroup as ps
from sklearn.datasets import make_classification
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [193]:
data = pd.read_csv('MobTargData-Original.csv',sep=';')

In [203]:
np.quantile(data[['lifetime']],0.66)

403.0

In [199]:
np.mean(data[['recency']])

recency    26.111307
dtype: float64

In [5]:
data = pd.read_csv('MobTargData-Original.csv',sep=';')
work_columns = ['text1','text2','numbasket_firsttwoweeks','numbasket_secondtwoweeks','sum_firsttwoweeks','recency','lifetime','numbasket0','sum0','bigstoreshare']
work_data = data[work_columns]

In [6]:
work_data = data[work_columns]

In [7]:
work_data.head()

,text1,text2,numbasket_firsttwoweeks,numbasket_secondtwoweeks,sum_firsttwoweeks,recency,lifetime,numbasket0,sum0,bigstoreshare
0,0,0,0,0,0.00,6,418,50,14479.26,0.220000
1,0,0,8,9,7737.44,5,145,78,60167.88,0.282051
2,0,0,14,9,6938.93,4,419,201,219180.23,0.865672
3,0,0,0,0,0.00,57,364,31,36896.61,0.161290
4,0,0,0,0,0.00,132,12,5,1075.10,0.800000

In [8]:
work_data = work_data.fillna(0);

In [11]:
work_data.head()

,text1,text2,numbasket_firsttwoweeks,numbasket_secondtwoweeks,sum_firsttwoweeks,recency,lifetime,numbasket0,sum0,bigstoreshare
0,0,0,0,0,0.00,6,418,50,14479.26,0.220000
1,0,0,8,9,7737.44,5,145,78,60167.88,0.282051
2,0,0,14,9,6938.93,4,419,201,219180.23,0.865672
3,0,0,0,0,0.00,57,364,31,36896.61,0.161290
4,0,0,0,0,0.00,132,12,5,1075.10,0.800000

In [118]:
work_data['numbasket0'] = data['numbasket0']
work_data['sum0'] = data['sum0']

In [119]:
work_data['avgcart'] = work_data['sum0'] / work_data['numbasket0']

In [122]:
work_data['avgcart<0.33q'] = 0
work_data['avgcart>0.66q'] = 0
work_data['0.33q<=avgcart<=0.66q'] = 0

In [123]:
for i in range(0,len(work_data)):
    if(work_data['avgcart'][i] < np.quantile(work_data.avgcart,0.33)):
        work_data['avgcart<0.33q'][i] = 1
    elif(work_data['avgcart'][i] >= np.quantile(work_data.avgcart,0.33) and work_data['avgcart'][i] <= np.quantile(work_data.avgcart,0.66)):
        work_data['0.33q<=avgcart<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['avgcart<0.33q'][i] == 0 and work_data['0.33q<=avgcart<=0.66q'][i] == 0):
        work_data['avgcart>0.66q'][i] = 1
work_data = work_data.drop(columns=['avgcart'])

In [80]:
work_data['treat1'] = 0
work_data['treat2'] = 0

In [81]:
for i in range(0,len(work_data)):
    if (work_data.text1[i] == 1):
        work_data['treat1'][i] = 1
for i in range(0,len(work_data)):        
    if(work_data.text2[i] == 1):
        work_data['treat2'][i] = 1

In [84]:
work_data = work_data.drop(columns=['text1','text2'])

In [11]:
work_data['outcome'] = False

In [12]:
for i in range(0,len(work_data)):
    if (work_data.numbasket_firsttwoweeks[i] > 0):
        work_data['outcome'][i] = True

In [13]:
work_data = work_data.drop(columns=['text1','text2','numbasket_firsttwoweeks','numbasket_secondtwoweeks','sum_firsttwoweeks'])

In [15]:
work_data['recency<0.33q'] = 0
work_data['recency>0.66q'] = 0
work_data['0.33q<=recency<=0.66q'] = 0

In [22]:
work_data.head()

,lifetime,numbasket0,sum0,bigstoreshare,treat,outcome,recency<0.33q,recency>0.66q,0.33q<=recency<=0.66q,lifetime<0.33q,lifetime>0.66q,0.33q<=lifetime<=0.66q
0,418,50,14479.26,0.220000,0,False,0,0,1,0,0,0
1,145,78,60167.88,0.282051,0,True,0,0,1,1,0,0
2,419,201,219180.23,0.865672,0,True,0,0,1,0,0,0
3,364,31,36896.61,0.161290,0,False,0,1,0,0,0,1
4,12,5,1075.10,0.800000,0,False,0,1,0,1,0,0

In [17]:
for i in range(0,len(work_data)):
    if(work_data['recency'][i] < np.quantile(work_data.recency,0.33)):
        work_data['recency<0.33q'][i] = 1
    elif(work_data['recency'][i] >= np.quantile(work_data.recency,0.33) and work_data['recency'][i] <= np.quantile(work_data.recency,0.66)):
        work_data['0.33q<=recency<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['recency<0.33q'][i] == 0 and work_data['0.33q<=recency<=0.66q'][i] == 0):
        work_data['recency>0.66q'][i] = 1
work_data = work_data.drop(columns=['recency'])

In [23]:
work_data['lifetime<0.33q'] = 0
work_data['lifetime>0.66q'] = 0
work_data['0.33q<=lifetime<=0.66q'] = 0

In [24]:
for i in range(0,len(work_data)):
    if(work_data['lifetime'][i] < np.quantile(work_data.lifetime,0.33)):
        work_data['lifetime<0.33q'][i] = 1
    elif(work_data['lifetime'][i] >= np.quantile(work_data.lifetime,0.33) and work_data['lifetime'][i] <= np.quantile(work_data.lifetime,0.66)):
        work_data['0.33q<=lifetime<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['lifetime<0.33q'][i] == 0 and work_data['0.33q<=lifetime<=0.66q'][i] == 0):
        work_data['lifetime>0.66q'][i] = 1
work_data = work_data.drop(columns=['lifetime'])

In [67]:
work_data.head()

,treat,outcome,recency<0.33q,recency>0.66q,0.33q<=recency<=0.66q,lifetime<0.33q,lifetime>0.66q,0.33q<=lifetime<=0.66q,bigstoreshare<0.33q,bigstoreshare>0.66q,0.33q<=bigstoreshare<=0.66q,sum0<0.33q,sum0>0.66q,0.33q<=sum0<=0.66q
0,0,False,0,0,1,0,1,0,0,0,1,0,0,1
1,0,True,0,0,1,1,0,0,0,0,1,0,1,0
2,0,True,0,0,1,0,1,0,0,1,0,0,1,0
3,0,False,0,1,0,0,0,1,0,0,1,0,0,1
4,0,False,0,1,0,1,0,0,0,1,0,1,0,0

In [26]:
work_data['bigstoreshare<0.33q'] = 0
work_data['bigstoreshare>0.66q'] = 0
work_data['0.33q<=bigstoreshare<=0.66q'] = 0

In [27]:
for i in range(0,len(work_data)):
    if(work_data['bigstoreshare'][i] < np.quantile(work_data.bigstoreshare,0.33)):
        work_data['bigstoreshare<0.33q'][i] = 1
    elif(work_data['bigstoreshare'][i] >= np.quantile(work_data.bigstoreshare,0.33) and work_data['bigstoreshare'][i] <= np.quantile(work_data.bigstoreshare,0.66)):
        work_data['0.33q<=bigstoreshare<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['bigstoreshare<0.33q'][i] == 0 and work_data['0.33q<=bigstoreshare<=0.66q'][i] == 0):
        work_data['bigstoreshare>0.66q'][i] = 1
work_data = work_data.drop(columns=['bigstoreshare'])

In [28]:
work_data['sum0<0.33q'] = 0
work_data['sum0>0.66q'] = 0
work_data['0.33q<=sum0<=0.66q'] = 0

In [29]:
for i in range(0,len(work_data)):
    if(work_data['sum0'][i] < np.quantile(work_data.sum0,0.33)):
        work_data['sum0<0.33q'][i] = 1
    elif(work_data['sum0'][i] >= np.quantile(work_data.sum0,0.33) and work_data['sum0'][i] <= np.quantile(work_data.sum0,0.66)):
        work_data['0.33q<=sum0<=0.66q'][i] = 1
for i in range(0,len(work_data)):
    if (work_data['sum0<0.33q'][i] == 0 and work_data['0.33q<=sum0<=0.66q'][i] == 0):
        work_data['sum0>0.66q'][i] = 1
work_data = work_data.drop(columns=['sum0'])

In [30]:
work_data = work_data.drop(columns=['numbasket0'])

In [68]:
work_data = work_data.drop(columns=['numbasket0'])
work_data['treatment'] = work_data['treat']
final_data = pd.read_csv('final_data.csv')
prepared_data = final_data
prepared_data['y'] = 0
for i in range(0,len(prepared_data.outcome)):
    if(prepared_data.outcome[i] == True):
        prepared_data.y[i] = 1
    else:
        prepared_data.y[i] = 0
prepared_data['z'] = prepared_data['y']*prepared_data['treatment'] + (1-prepared_data['y'])*(1-prepared_data['treatment'])
target = ps.NominalTarget('z',True)
searchspace = ps.create_selectors(prepared_data, ignore=['z','treatment','y'])
task = ps.SubgroupDiscoveryTask (prepared_data, target, searchspace, 
            result_set_size=5, depth=4, qf=ps.ChiSquaredQF())
result = ps.SimpleDFS().execute(task)
for (q, sg) in result:
    print(str(q) + ":\t" + str(sg.subgroup_description))
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(prepared_data.drop(columns=['z','y']),prepared_data.y)
model1.coef_[0]
prepared_data.drop(columns=['z','y']).columns
cols = prepared_data.columns
coefs = pd.DataFrame(list(zip(np.abs(model.coef_[0]),cols[0])),columns=['value','column'])
coefs.sort_values(by='value',ascending=False)

In [114]:
#prepared_data = pd.read_csv('prepared_data.csv')

In [5]:
final_data = pd.read_csv('final_data.csv')

In [6]:
prepared_data = final_data

In [6]:
prepared_data['y'] = 0
for i in range(0,len(prepared_data.outcome)):
    if(prepared_data.outcome[i] == True):
        prepared_data.y[i] = 1
    else:
        prepared_data.y[i] = 0

AttributeError: 'DataFrame' object has no attribute 'outcome'

In [8]:
prepared_data['z'] = prepared_data['y']*prepared_data['treatment'] + (1-prepared_data['y'])*(1-prepared_data['treatment'])

In [9]:
prepared_data.head()

,recency<0.33q,recency>0.66q,0.33q<=recency<=0.66q,lifetime<0.33q,lifetime>0.66q,0.33q<=lifetime<=0.66q,bigstoreshare<0.33q,bigstoreshare>0.66q,0.33q<=bigstoreshare<=0.66q,sum0<0.33q,sum0>0.66q,0.33q<=sum0<=0.66q,treatment,avgcart<0.33q,avgcart>0.66q,0.33q<=avgcart<=0.66q,y,z
0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0,1
1,0,0,1,1,0,0,0,0,1,0,1,0,0,0,1,0,1,0
2,0,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0
3,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1
4,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1

In [ ]:
import pysubgroup as ps

In [36]:
target = ps.NominalTarget('z',True)

In [33]:
import pysubgroup.

SyntaxError: invalid syntax (<ipython-input-33-4994f4f02d7e>, line 1)

TypeError: plot_roc() missing 2 required positional arguments: 'result_df' and 'data'

In [74]:
ig = ['0.33q<=bigstoreshare<=0.66q','bigstoreshare<0.33q','lifetime>0.66q','lifetime<0.33q','0.33q<=lifetime<=0.66q','outcome','recency>0.66q','recency<0.33q','0.33q<=recency<=0.66q','0.33q<=sum0<=0.66q','sum0<0.33q','sum0>0.66q']

In [76]:
target = ps.NominalTarget('z',True)
searchspace = ps.create_selectors(prepared_data, ignore=['z','treatment','y'])
task = ps.SubgroupDiscoveryTask (prepared_data, target, searchspace, 
            result_set_size=5, depth=2, qf=ps.boolean_target.WRAccQF(1))
result = ps.SimpleDFS().execute(task)

In [80]:
for (q, sg) in result:
    print(str(q) + ":\t" + str(sg.subgroup_description))

0.09531757870486812:	recency>0.66q=0
0.09465418050859556:	recency>0.66q=0 AND sum0<0.33q=0
0.08393023353576831:	recency>0.66q=0 AND lifetime<0.33q=0
0.07316049901857828:	sum0<0.33q=0
0.07275472771564709:	recency>0.66q=0 AND avgcart<0.33q=0

In [48]:
ps.results_as_df()

TypeError: results_as_df() missing 1 required positional argument: 'result'

In [40]:
ps.visualization.plot_roc(result,prepared_data)

TypeError: list indices must be integers or slices, not str

In [59]:
prepared_data.to_csv('/final_prepared_data')

In [122]:
from sklearn.linear_model import LogisticRegression

In [123]:
model = LogisticRegression()

In [205]:
model1 = LogisticRegression()

In [206]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(prepared_data.drop(columns=['z','y']),prepared_data.y)
model1.coef_[0]
prepared_data.drop(columns=['z','y']).columns
cols = prepared_data.columns
coefs = pd.DataFrame(list(zip(np.abs(model.coef_[0]),cols[0])),columns=['value','column'])
coefs.sort_values(by='value',ascending=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [208]:
model1.coef_[0]

array([ 1.39025361, -1.47159993,  0.57240403, -0.07680717,  0.36764465,
        0.20022023,  0.0991742 ,  0.15438838,  0.23749513, -0.68235077,
        0.88788986,  0.28551862, -0.03920108,  0.19859444,  0.04147953,
        0.25098374])

In [209]:
prepared_data.drop(columns=['z','y']).columns

Index(['recency<0.33q', 'recency>0.66q', '0.33q<=recency<=0.66q',
       'lifetime<0.33q', 'lifetime>0.66q', '0.33q<=lifetime<=0.66q',
       'bigstoreshare<0.33q', 'bigstoreshare>0.66q',
       '0.33q<=bigstoreshare<=0.66q', 'sum0<0.33q', 'sum0>0.66q',
       '0.33q<=sum0<=0.66q', 'treatment', 'avgcart<0.33q', 'avgcart>0.66q',
       '0.33q<=avgcart<=0.66q'],
      dtype='object')

In [130]:
prepared_data.columns

Index(['recency<0.33q', 'recency>0.66q', '0.33q<=recency<=0.66q',
       'lifetime<0.33q', 'lifetime>0.66q', '0.33q<=lifetime<=0.66q',
       'bigstoreshare<0.33q', 'bigstoreshare>0.66q',
       '0.33q<=bigstoreshare<=0.66q', 'sum0<0.33q', 'sum0>0.66q',
       '0.33q<=sum0<=0.66q', 'treatment', 'avgcart<0.33q', 'avgcart>0.66q',
       '0.33q<=avgcart<=0.66q', 'y', 'z'],
      dtype='object')

In [133]:
cols = ['recency<0.33q', 'recency>0.66q', '0.33q<=recency<=0.66q',
       'lifetime<0.33q', 'lifetime>0.66q', '0.33q<=lifetime<=0.66q',
       'bigstoreshare<0.33q', 'bigstoreshare>0.66q',
       '0.33q<=bigstoreshare<=0.66q', 'sum0<0.33q', 'sum0>0.66q',
       '0.33q<=sum0<=0.66q', 'avgcart<0.33q', 'avgcart>0.66q',
       '0.33q<=avgcart<=0.66q'],

In [175]:
np.abs(model.coef_[0])

array([0.72601085, 0.92963903, 0.46498381, 0.04716079, 0.21854338,
       0.08997304, 0.04775852, 0.06042762, 0.1531695 , 0.38582825,
       0.47738484, 0.16979904, 0.11722933, 0.00582706, 0.13829924])

In [176]:
coefs = pd.DataFrame(list(zip(np.abs(model.coef_[0]),cols[0])),columns=['value','column'])

In [177]:
coefs.sort_values(by='value',ascending=False)

       value                       column
1   0.929639                recency>0.66q
0   0.726011                recency<0.33q
10  0.477385                   sum0>0.66q
2   0.464984        0.33q<=recency<=0.66q
9   0.385828                   sum0<0.33q
4   0.218543               lifetime>0.66q
11  0.169799           0.33q<=sum0<=0.66q
8   0.153170  0.33q<=bigstoreshare<=0.66q
14  0.138299        0.33q<=avgcart<=0.66q
12  0.117229                avgcart<0.33q
5   0.089973       0.33q<=lifetime<=0.66q
7   0.060428          bigstoreshare>0.66q
6   0.047759          bigstoreshare<0.33q
3   0.047161               lifetime<0.33q
13  0.005827                avgcart>0.66q

In [126]:
coef_values = []
for i in model.coef_:
    coef_values.append(i)

In [96]:
prepared_data.to_csv('final_data.csv', index=False)